@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
body{
  background: url("/img/WallpaperDog-992422.jpg") no-repeat center center fixed;
  background-size: cover;
}

.App {
  margin: 10px;
}

h3 {
  margin: 0;
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 30px;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

button {
  border: 0;
  width: 25%;
  padding: 10px;
  background: linear-gradient(to right, rgba(114, 67, 112) 50%, rgba(232, 232, 232, 0.7) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

button:hover {
  background-position: left bottom;
  color: white;
}

.selected {
  background: rgba(159, 189, 237);
 }

.movieImg {
  margin: 20px;
}

.infoDiv {
  margin-top: 20px;
  margin-right: 10px;
}

.movieDiv{
  /* background: url("https://cdn.dribbble.com/users/513906/screenshots/2859254/cut-2.gif"); */
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
}

img {
  width: auto;
  height: 400px;
}

.homeDiv{
  display: flex;
  flex-direction: row;
  width: 100%vh;
  background: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
}

.hide {
  display: none;
}

@media only screen and (max-width: 600px) {
  body {
    /* background-image: url("./img/mobile.jpg"); */
    background-size: cover;
  }

   button {
    display: flex;
    align-items: center;
    margin: 4px;
    font-size: 15px;
    width: 100%;
    background-color: rgb(107, 1, 1, 0.5);
    color: white;
    font-family: Tahoma, sans-serif;
   }

   button:hover {
    background-color: rgb(107, 1, 1);
  }

   .nav {
    flex-direction: column;
    margin: 0;
    width: 75%;
   }
   
   img {
    display: none;
   }

}